# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Build files
dist/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Mac files
.DS_Store

# Editor/IDE-specific files (example: Visual Studio Code)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories (example: npm, yarn)
npm-debug.log
yarn-error.log
